## Preprocessing module :

#### Import libraries :

In [1]:
import pandas as pd

#### Load data :

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_data.csv')
raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

#### Make a copy dataframe :

In [3]:
df = raw_csv_data.copy()
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

 #### Summary :

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
ID                           700 non-null int64
Reason for Absence           700 non-null int64
Date                         700 non-null object
Transportation Expense       700 non-null int64
Distance to Work             700 non-null int64
Age                          700 non-null int64
Daily Work Load Average      700 non-null float64
Body Mass Index              700 non-null int64
Education                    700 non-null int64
Children                     700 non-null int64
Pets                         700 non-null int64
Absenteeism Time in Hours    700 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.7+ KB

#### Drop columns :

In [5]:
df = df.drop(['ID'], axis=1)
df_no_age = df.drop(['Age'], axis=1)

#### Analysing variables/features :

In [6]:
df['Reason for Absence'].min()

0

In [7]:
df['Reason for Absence'].max()

28

In [8]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [9]:
len(df['Reason for Absence'].unique())

28

In [10]:
#Find missing value :
sorted(df['Reason for Absence'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

#### Dummies for categorical nominals :

In [11]:
reason_columns = pd.get_dummies(df['Reason for Absence'])
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
671,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
674,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
677,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
686,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
688,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
690,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
694,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
671,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
674,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
675,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
677,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
682,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
683,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
686,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
688,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
690,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
692,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
693,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
694,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [13]:
reason_columns = reason_columns.drop(['check'], axis =1)

In [14]:
reason_columns = pd.get_dummies(df['Reason for Absence'],drop_first=True)
reason_columns.head()

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [15]:
age_dummies = pd.get_dummies(df['Age'])
age_dummies.head()

,27,28,29,30,31,32,33,34,36,37,...,39,40,41,43,46,47,48,49,50,58
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Group features :

In [16]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [17]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [18]:
df = df.drop(['Reason for Absence'],axis=1)
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [19]:
reason_columns.loc[:,1:14]

     1   2   3   4   5   6   7   8   9   10  11  12  13  14
0     0   0   0   0   0   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   1   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0   0   0   0   0
5     0   0   0   0   0   0   0   0   0   0   0   0   0   0
6     0   0   0   0   0   0   0   0   0   0   0   0   0   0
7     0   0   0   0   0   0   0   0   0   0   0   0   0   0
8     0   0   0   0   0   0   0   0   0   0   0   0   0   0
9     0   0   0   0   0   0   0   0   0   0   0   0   0   0
10    1   0   0   0   0   0   0   0   0   0   0   0   0   0
11    1   0   0   0   0   0   0   0   0   0   0   0   0   0
12    0   0   0   0   0   0   0   0   0   0   1   0   0   0
13    0   0   0   0   0   0   0   0   0   0   1   0   0   0
14    0   0   0   0   0   0   0   0   0   0   0   0   0   0
15    0   0   0   0   0   0   0   0   0   0   0   0   0   1
16    0   0   0   0   0   0   0   0   0   0   0   0   0   0
17    0   0   0   0   0   0   0   0   0   0   0   0   0   0
18    0   0   0   0   0   0   0   0   0   0   1   0   0   0
19    0   0   0   0   0   0   0   0   0   0   0   0   0   0
20    0   0   0   0   0   0   0   0   0   1   0   0   0   0
21    0   0   0   0   0   0   0   0   0   0   1   0   0   0
22    0   0   0   0   0   0   0   0   0   0   0   0   1   0
23    0   0   0   0   0   0   0   0   0   0   0   0   0   0
24    0   0   0   0   0   0   0   0   0   0   0   0   0   0
25    0   0   0   0   0   0   0   0   0   0   0   0   0   0
26    0   0   0   0   0   0   0   0   0   0   0   0   0   0
27    0   0   0   0   0   0   0   0   0   0   0   0   0   0
28    0   0   0   0   0   0   0   0   0   0   0   0   0   0
29    0   0   0   0   0   0   0   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
670   0   0   0   0   0   0   0   0   0   0   0   0   0   0
671   0   0   0   0   0   0   0   0   0   0   0   0   0   0
672   0   0   0   0   0   0   0   0   0   0   0   0   0   1
673   0   0   0   0   0   0   0   0   0   0   0   0   0   0
674   0   0   0   0   0   0   0   0   0   0   0   0   0   0
675   0   0   0   0   0   0   0   0   0   0   0   0   0   0
676   0   0   0   0   0   0   0   0   0   0   0   0   0   0
677   0   0   0   0   0   0   0   1   0   0   0   0   0   0
678   0   0   0   0   0   0   0   0   0   0   0   0   0   0
679   0   0   0   0   0   0   0   0   0   0   0   0   1   0
680   0   0   0   0   0   0   0   0   0   0   0   0   0   0
681   0   0   0   0   0   0   0   0   0   0   0   0   0   1
682   0   0   0   0   0   0   0   0   0   0   0   0   0   0
683   0   0   0   0   0   0   0   0   0   0   0   0   0   0
684   0   0   0   0   0   0   0   0   0   0   0   0   0   0
685   0   0   0   0   0   0   0   0   0   0   0   0   0   0
686   0   0   0   0   1   0   0   0   0   0   0   0   0   0
687   0   0   0   0   0   0   0   0   0   0   0   0   0   0
688   0   0   0   0   0   0   0   0   0   0   0   0   0   0
689   0   0   0   0   0   0   0   0   0   0   0   0   0   0
690   0   0   0   0   0   0   0   0   0   0   0   0   0   0
691   0   0   0   0   0   0   0   0   0   0   0   0   0   0
692   0   0   0   0   0   0   0   0   0   1   0   0   0   0
693   0   0   0   0   0   0   0   0   0   1   0   0   0   0
694   0   0   0   0   0   0   0   0   0   0   0   0   0   0
695   0   0   0   0   0   0   0   0   0   1   0   0   0   0
696   0   0   0   0   0   1   0   0   0   0   0   0   0   0
697   0   0   0   0   0   0   0   0   0   1   0   0   0   0
698   0   0   0   0   0   0   0   0   0   0   0   0   0   0
699   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[700 rows x 14 columns]

In [20]:
reason_type_1 = reason_columns.loc[:,1:14].max(axis =1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis =1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis =1)
reason_type_4 = reason_columns.loc[:,22:].max(axis =1)

#### Concatinate groups :

In [21]:
df = pd.concat([df,reason_type_1,reason_type_2, reason_type_3,reason_type_4],axis=1)
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [22]:
df_concatenated = pd.concat([df_no_age, age_dummies],axis=1)
df_concatenated.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,...,39,40,41,43,46,47,48,49,50,58
0,26,07/07/2015,289,36,239.554,30,1,2,1,4,...,0,0,0,0,0,0,0,0,0,0
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,7,16/07/2015,279,5,239.554,24,1,2,0,4,...,1,0,0,0,0,0,0,0,0,0
4,23,23/07/2015,289,36,239.554,30,1,2,1,2,...,0,0,0,0,0,0,0,0,0,0

#### Reassign column names :

In [23]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [24]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [25]:
df.columns = column_names
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [26]:
df_concatenated.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58], dtype=object)

In [27]:
column_names = ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 27,
       28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 46, 47, 48,
       49, 50, 58,'Absenteeism Time in Hours']
df_concatenated = df_concatenated[column_names]
df_concatenated.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,27,...,40,41,43,46,47,48,49,50,58,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,0,...,0,0,0,0,0,0,0,0,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,2

#### Reorder Columns :

In [28]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [29]:
df = df[column_names_reordered]
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

#### Create a checkpoint :

In [30]:
#To store the current version of your code:
df_reason_mod = df.copy()
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [31]:
df_checkpoint = df_concatenated.copy()
df_checkpoint.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,27,...,40,41,43,46,47,48,49,50,58,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,0,...,0,0,0,0,0,0,0,0,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,0,...,0,0,0,0,0,0,0,0,0,2

### DATE

In [32]:
df_reason_mod['Date'].head()

0    07/07/2015
1    14/07/2015
2    15/07/2015
3    16/07/2015
4    23/07/2015
Name: Date, dtype: object

In [33]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [34]:
type(df_reason_mod['Date'][0])

str

#### Covert to datetime format :

In [35]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-10-07
6     2015-07-17
7     2015-07-24
8     2015-06-07
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-05-08
20    2015-12-08
21    2015-03-08
22    2015-10-08
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-04-08
27    2015-12-08
28    2015-08-19
29    2015-08-28
         ...
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-07-05
675   2018-09-05
676   2018-09-05
677   2018-09-05
678   2018-09-05
679   2018-10-05
680   2018-10-05
681   2018-10-05
682   2018-11-05
683   2018-11-05
684   2018-11-05
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [36]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')
df_reason_mod['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-10-07
6     2015-07-17
7     2015-07-24
8     2015-06-07
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-05-08
20    2015-12-08
21    2015-03-08
22    2015-10-08
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-04-08
27    2015-12-08
28    2015-08-19
29    2015-08-28
         ...
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-07-05
675   2018-09-05
676   2018-09-05
677   2018-09-05
678   2018-09-05
679   2018-10-05
680   2018-10-05
681   2018-10-05
682   2018-11-05
683   2018-11-05
684   2018-11-05
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, Length: 700, dtype: datetime64[ns]

In [37]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

#### Extract month value :

In [38]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [39]:
df_reason_mod['Date'][0].month

7

In [40]:
list_months = []
list_months

[]

In [41]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [42]:
list_months

[7,
 7,
 7,
 7,
 7,
 10,
 7,
 7,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 12,
 3,
 10,
 8,
 8,
 8,
 4,
 12,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 4,
 8,
 8,
 8,
 1,
 7,
 1,
 8,
 9,
 9,
 9,
 9,
 4,
 9,
 9,
 9,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 6,
 10,
 10,
 10,
 10,
 10,
 6,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 5,
 4,
 5,
 12,
 11,
 2,
 9,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 2,
 10,
 11,
 11,
 1,
 1,
 2,
 2,
 3,
 4,
 8,
 9,
 10,
 11,
 12,
 12,
 11,
 12,
 12,
 6,
 4,
 5,
 5,
 6,
 7,
 7,
 8,
 11,
 12,
 12,
 1,
 1,
 1,
 11,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 3,
 10,
 11,
 11,
 12,
 12,
 8,
 9,
 2,
 9,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 8,
 3,
 3,
 2,
 3,
 4,
 4,
 7,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 6,
 4,
 12,
 4,
 4,
 4,
 4,
 6,
 7,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 8,
 4,
 4,
 5,
 2,
 3,
 3,
 11,
 9,
 10,
 4,
 11,
 5,
 5,
 5,
 5,
 11,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 3,
 7,
 8,
 9,
 10,
 6,
 6,
 5,
 6,
 8,
 8,
 12,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 11,
 7,
 7,
 4,
 11,
 7,
 8,
 10,
 10,
 11,
 8,
 9,
 10,
 10,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 9,
 7,
 8,
 12,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 5,
 5,
 5,
 6,
 6,
 6,
 12,
 12,
 12,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 7,
 8,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 6,
 9,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 4,
 9,
 9,
 3,
 3,
 9,
 11,
 1,
 1,
 1,
 1,
 7,
 1,
 1,
 3,
 10,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 7,
 8,
 10,
 10,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 5,
 7,
 7,
 10,
 10,
 12,
 12,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 3,
 8,
 10,
 10,
 11,
 12,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 8,
 9,
 9,
 12,
 12,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 10,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 3,
 7,
 8,
 8,
 8,
 8,
 10,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 11,
 9,
 9,
 9,
 9,
 5,
 5,
 6,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 7,
 8,
 8,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 5,
 6,
 6,
 8,
 8,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 4,
 4,
 5,
 8,
 10,
 11,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 6,
 7,
 7,
 8,
 8,
 8,
 9,
 9,
 12,
 12,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 5,
 5,
 6,
 6,
 6,
 7,
 8,
 8,
 8,
 9,
 12,
 12,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 4,
 5,
 6,
 9,
 10,
 10,
 10,
 11,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 7,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 11,
 11,
 11,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [43]:
len(list_months)

700

In [44]:
df_reason_mod['Month Value'] = list_months
df_reason_mod.head(20)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-10-07,179,51,38,239.554,31,1,0,0,2,10
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-06-07,155,12,34,239.554,25,1,2,0,40,6
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-05-08,248,25,47,205.917,32,1,2,1,2,5

#### Extract the day of week :

In [45]:
#0:monday - 6:sunday
df_reason_mod['Date'][699].weekday()

3

In [46]:
df_reason_mod['Date'][699]

Timestamp('2018-05-31 00:00:00')

In [47]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [48]:
df_reason_mod['Day of the week'] = df_reason_mod['Date'].apply(date_to_weekday)
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [49]:
df_reason_mod = df_reason_mod.drop(['Date'],axis=1)
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the week
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3

In [50]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the week'], dtype=object)

In [51]:
column_names =['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Month Value',
       'Day of the week','Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [52]:
df_reason_mod = df_reason_mod[column_names]
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

In [53]:
df_reason_date_mod=df_reason_mod.copy()
df_reason_date_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

### Other Straightforward columns :

In [54]:
type(df_reason_date_mod['Transportation Expense'][0])

numpy.int64

In [55]:
type(df_reason_date_mod['Distance to Work'][0])

numpy.int64

In [56]:
type(df_reason_date_mod['Age'][0])

numpy.int64

In [57]:
type(df_reason_date_mod['Daily Work Load Average'][0])

numpy.float64

In [59]:
type(df_reason_date_mod['Body Mass Index'][0])

numpy.int64

In [60]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [63]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [64]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0,2:1,3:1,4:1})
df_reason_date_mod['Education'].unique()

array([0, 1], dtype=int64)

In [65]:
df_reason_date_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

### Final Checkpoint :

In [66]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

### Store in *.csv file

In [67]:
df_preprocessed.to_csv('Absenteeism_preprocessed_data.csv', index=False)